{% extends "layouts/base.njk" %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block breadcrumbs %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/"
            }
        ]
    }) }}
{% endblock %}

{% block content_body %}
    <h1 class="govuk-heading-xl">Manage your debts</h1>

    <div class="wrapper">                                                                                                                   > Acct number </p>
        <div class="user-information">
            <h2 class="user-information__title">Hi Cien</h2>
            <p class="user-information__account">ACCOUNT NUMBER</span>

            <h3>Remaining:</h3>
            <h3>You Owe a total of:-</h3>
        
        </div>

        <div class="debt-listings">
            <h2 class="debt-listings__title">Accounts</h2>
            <div class="debt-listing">
                <h3 class="debt-listing__company"> Sky </h2>
                <p class="debt-listing__amount">£xx.xx</p>
                {{ govukButton({
                text: "Pay Now"
                }) }}
            </div>  
        </div>
    </div>

{% endblock %}
