@import "node_modules/govuk-frontend/govuk/all";

@import "text-colours";
@import "background-sets";

// App-specific variables
$app-light-grey: #f8f8f8;
$app-code-color: #d13118;

.user-information {
  &__account,
  &__title {
    margin: 0;
  }
}

body {
  background: red;
}
