@import "node_modules/govuk-frontend/govuk/all";

@import "text-colours";
@import "background-sets";

// App-specific variables
$app-light-grey: #f8f8f8;
$app-code-color: #d13118;

.user-information {
  display: flex;
  flex-direction: column;

  &__account,
  &__title {
    margin: 0;
  }

  &__info {
    max-width: 250px;
    &--banking {
      color: #059142;
      font-weight: bold;
    }
  }

  &__available-funds,
  &__total-debt {
    margin: 0;
  }

  .amount {
    font-weight: bold;
  }

  &__add-account {
    margin-left: auto;
  }
}

.debt-listings {
  &__title {
    font-size: 2.5em;
  }
}

.debt-listing {
  background: #f8f8f8;
  border-radius: 3px;
  padding: 1em 3em;
  display: flex;
  margin-top: .5em;
  flex-direction: column;
  &__company {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
  }
  &__amount {
    margin: 0;
    font-size: 2em;
    margin: .5em 0;
  }
  .govuk-button {
    margin: 0 0 0 auto;
  }
}

.debt-listing.high {
  background: #FFE3DD;
}

.debt-listing.medium {
  background: #FFEFCA;
}

.debt-listing.low {
  background: #E0FFE1;
}